section {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 4%;
    font-size: 18px;
    height: 80%;
}

button {
    margin: 0 auto;
}

td {
    width: 40%;
}

table {
    height: 80%;
}

.rcolumn {

    padding-left: 10%;
}

.lcolumn {
    border-right: 2px solid black;
    padding-right: 10%;
}