<section>
    <table>
        <tbody>

            <tr>
                <td class="lcolumn" aria-hidden="true">
                    <h2>Finance Tracking</h2>
                    <p>Welcome to FinanceTrack - Your Personal Finance Companion</p>

                    <dl>
                        <dt>✅ Monitor Transactions - Stay on top of where your money goes.</dt><br />
                        <dt>✅ Set Budgets - Plan your spending and avoid overspending.</dt><br />
                        <dt>✅ Gain Insights - Visualize your financial habits with smart analytics.</dt><br />
                        <dt>✅ Secure & Private - Your financial data is encrypted and protected.</dt><br />
                    </dl>

                </td>
                <td class="rcolumn" aria-hidden="true">
                    <h2>Iniciar sesión.</h2>
                    <input type="text" placeholder="Username">
                    <br />
                    <input type="text" placeholder="Password">
                    <br />
                    <button routerLink="/transaction">Log in</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>